<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description"
        content="Услуги по уборке и вывозу снега в Тюмени. Механизированная и ручная уборка снега. Работаем круглосуточно! | SNEB">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Уборка снега в Тюмени</title>

    <!-- total-styles -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap-grid.min.css" />
    <link type="text/css" rel="stylesheet" href="css/normalize.css" />  
    <link type="text/css" rel="stylesheet" href="css/lity.min.css" />
    <link type="text/css" rel="stylesheet" href="css/mmenu-light.css" />
    <!-- конец -->
    <!-- Стили для шапки -->
    <link type="text/css" rel="stylesheet" href="css/header.css">
    <!-- end-total-styles -->

    <!--page styles  -->
    <link rel="stylesheet" href="css/build_metall_stuctures.css">
    <link rel="stylesheet" href="css/media_build_metall_stuctures.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap" rel="stylesheet">
    <!-- end page styles -->

    <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link href="https:/sneb.ru/yborka-krish/" rel="canonical">

    <!-- Google Tag Manager -->

    <!-- End Google Tag Manager -->
    <script>
        (function (w, c) {
            (w[c] = w[c] || []).push(function () {
                new zTracker({
                    "id": "0fb26ab1f46933bdeed35b1a8eb2b7045621"
                });
            });
        })(window, "zTrackerCallbacks");
    </script>
    <script async id="zd_ct_phone_script" src="https://my.zadarma.com/js/ct_phone.min.js"></script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHF3VK6" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="page">
        <!-- шапка -->
        <header class="header_1">
            <div class="container-fluid">
                <div class="top">

                    <div class="left"> 
                        <a href="/" class="logo">
                            <picture>
                                <source type="image/webp" srcset="images/sneb-logo-2.webp">
                                <source type="image/png" srcset="images/sneb-logo-2.png">
                                <img class="img-zamyakin" alt="Чистка и вывоз снега в Тюмени"
                                    title="Чистка и вывоз снега в Тюмени">
                            </picture>

                        </a>
                        <!-- <div class="text">Вывозим с 2005 года</div> -->
                    </div>
                    <div class="right">
                        <div class="block">

                            <div class="ico"> <img src="images/loc.png" alt=""> </div>
                            <div class="text">
                                <div class="addr">43 объекта<br> обслуживаем каждый год</div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="text">Работаем 24 часа<div class="lnk"> <span style="color:#ffd700">
                                        И вывозим с 2005 года</span> </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="ico"> 
                                <img src="images/env.png" alt="Отправьте ваше письмо нам"
                                    title="Отправьте ваше письмо нам">
                                
                                <div class="ico">
                                    <img src="images/phone.png"
                                        alt="Отправьте ваше письмо нам" title="Отправьте ваше письмо нам"> 
                                </div>
                            </div>
                            <div class="text"> 
                                <span class="mail">info@sneb.ru</span> 
                                <a href="tel:+73452519160" class="phone">+7 (3452) 51-80-38</a> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__body"> <a href="" class="header__logo"> </a>
                    <div class="header__burger"> <span></span> </div>
                    <nav class="header__menu">
                        <ul class="header__list">
                            <li> <a href="#vid-yborki-snega" class="header__link">Виды уборки снега</a> </li>

                            <li> <a href="#night-yborka" class="header__link">Уборка снега ночью</a> </li>
                            <li> <a href="#gde-chistim-sneg" class="header__link">Где чистим снег</a> </li>
                            <li> <a href="#price" class="header__link">Цены</a> </li>
                            <li> <a href="#footer-contacts" class="header__link">Контакты</a> </li>
                        </ul>
                    </nav>
                </div>
            </div>


        </header>
        <div class="header-2">
            <div class="container-fluid">
                <div class="row full-row-menu">
                    <div class="col-3">

                        <img src="images/test-logo-2.png"%}' class="img-width-responsive" alt="">
                    </div>
                    <div class="col-6">
                        <a href="tel: +73452585410" class="tel-top-menu">+7 (3452) 51-80-38</a>
                    </div>
                    <div class="col-3 r-f">
                        <a id="menu-header" href="#menu"><span></span></a>
                    </div>
                </div>
            </div>
        </div>

        <nav id="menu">
            <ul>
                <li><a href="https://sneb.ru/">Главная</a></li>
                <li><span>Каталог</span>
                    <ul>
                        <li><a href="{% url 'sand:sand' %}">Песок</a></li>
                        <li><a href="{% url 'rubble:rubble' %}">Щебень</a></li>
                        <li><a href="{% url 'brick_break:brick_break' %}">Бой Кирпича</a></li>
                        <li><a href="{% url 'asphalt_crumb:asphalt_crumb' %}">Асфальтная крошка</a></li>
                        <li><a href="{% url 'ground:ground' %}">Грунт</a></li>
                        <li><a href="{% url 'expanded_clay:expanded_clay' %}">Керамзит</a></li>
                    </ul>
                </li>
                <li><span>Услуги</span>
                    <ul>
                        <li><a href="{% url 'equipment_rental:equipment_rental' %}">Аренда спецтехники</a></li>
                        <li><a href="{% url 'garbage_removal:garbage_removal' %}">Вывоз строймусора</a></li>
                        <li><a href="{% url 'build_metall_stuctures:build_metall_stuctures' %}">Уборка Снега</a></li>
                        <li><a href="{% url 'build_metall_stuctures:build_metall_stuctures' %}">Чистка крыш от снега и наледи</a></li>
                        <li><a href="{% url 'cut_trees:cut_trees' %}">Спил деревьев</a></li>
                    </ul>
                </li>
                <li><span>Инфо</span>
                    <ul>
                        <li><a href="{% url 'about_company:home' %}">О Компании</a></li>
                        <li><a href="#stranica-v-razrabotke">Доставка и оплата</a></li>
                        <li><a href="#stranica-v-razrabotke">Вакансии</a></li>
                        <li><a href="{% url 'partners:partners' %}">Приглашаем водителей</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'about_company:home' %}">Контакты</a></li>
                <li><a href="{% url 'partners:partners' %}">Партнерство</a></li>
            </ul>
        </nav>
    




        <!-- end header -->

        <div class="content">
            <section class="first_section first_bg">
                <div class="wrap_bg" title="Промышленные альпинисты очистят крышу от снега">
                    <div class="container-fluid">
                                            <div class="row">
                            <div class="col-12 col-lg-8">
                                <h1 class="head_h1">
                                    Монтаж <span style="color:gold">быстровозводимых зданий </span>в Тюмени
                                </h1>
                                <p class="p_head_h1">Дешевле, чем от производителей. Договор. Гарантия 5 лет. <br/>
                                    И экономия вашего бюджета, благодаря грамотным техническим решениям.</p>
                                                    </div>
                            <div class="col-12 col-lg-4">
                                <form action="mail.php" method="post" class="form_one form_colum">

                                    <p class="p_def">Обсудить очистку<br>кровли от снега <br><br>Это бесплатно!</p>
                                    <input id="phone1" type="text" class="form_one_input" name="teleph"
                                        placeholder="+7 (3452) 51-80-38" required>
                                    <div class="politic_c">
                                        <input type="checkbox" id="politic" name="politic" checked required>
                                        <label for="politic" class="politic_txt">Принимаю политику
                                            конфиденциальности</label>
                                    </div>

                                    <button type="submit" class="button_call b_call_text_null">Перезвоним за 1
                                        минуту</button>

                                </form>
                            </div>
                        </div>


                    </div>

                </div>
            </section>
            <section class="second_section" id="vid-yborki-snega">
                <div class="container-fluid">
                    <div class="row">
                        <div class="tab col-12">
                            <div class="row super_row">

                                <button class="col-6 col-lg-auto tablinks" onclick="openCity(event, 'Clean-krovli')"
                                    id="defaultOpen">Очистка кровли от снега</button>



                                <button class="col-6 col-lg-auto tablinks"
                                    onclick="openCity(event, 'Delete-big-sosulek')">Удаление сосулек с
                                    крыш</button>
                            </div>

                        </div>
                        <div id="Clean-krovli" class="tabcontent">
                            <div class="row full_row">
                                <div class="col-md-6">
                                    <h3 class="header__Clean-krovli">Чистка снега с крыш промышленными альпинистами</h3>
                                    <ul class="galochka-ul">
                                        <li class="galochka__Clean-krovli">Удостоверения на допуск к высотным работам</li>
                                        <li class="galochka__Clean-krovli">Профессиональное альпинстское снаряжение</li>
                                        <li class="galochka__Clean-krovli">Страховка</li>
                                        <li class="galochka__Clean-krovli">Разрешение для работы на высоте</li>
                                        <li class="galochka__Clean-krovli">Работаем по ГОСТ 51870-2002</li>
                                    </ul>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="header-pod__Clean-krovli">Бережное выполнение работы</h4>
                                            <p class="description__Clean-krovli">Мы даём 100% гарантию на целостность крыши,
                                                при
                                                выполнении работ. Только бережная очистка крыш специальным инвентарем, без
                                                повреждений кровельного материала</p>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="header-pod__Clean-krovli">Возьмем сложные объекты</h4>
                                            <p class="description__Clean-krovli">Профессиональное оборудование и подготовка,
                                                позволяет нам выполнять работы на любой высоте. Сложность и объем работ не
                                                имеют
                                                значения, 43 подготовленных альпиниста в штате компании</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <picture>
                                        <source type="image/webp" srcset="images/uborka-snega-krisha2.webp">
                                        <source type="image/jpg" srcset="images/uborka-snega-krisha2.jpg">
                                        <img class="responsive-img__Clean-krovli" alt="Уборка снега с крыш в Тюмени"
                                            title="Уборка снега с крыш в Тюмени">
                                    </picture>

                                    <form action="mail.php" method="post" class="form_two">


                                        <input id="phone14" type="text" class="form_two_input" name="teleph"
                                            placeholder="+7 (3452) 51-80-38" required>

                                        <button type="submit" class="button_call b_call_text">Перезвоним за 1
                                            минуту</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="Delete-big-sosulek" class="tabcontent">
                            <div class="row full_row">
                                <div class="col-md-6">
                                    <h3 class="header__Clean-krovli">Кому нужна чистка крыш от сосулек:</h3>
                                    <ul class="galochka-ul2">
                                        <li class="galochka__Clean-krovli">Государственные организации</li>
                                        <li class="galochka__Clean-krovli">Управляющие компании</li>
                                        <li class="galochka__Clean-krovli">Собственники зданий</li>
                                        <li class="galochka__Clean-krovli">Школы</li>
                                        <li class="galochka__Clean-krovli">Детские садики</li>
                                        <li class="galochka__Clean-krovli">Торговые центры</li>
                                        <li class="galochka__Clean-krovli">ТСЖ</li>





                                    </ul>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="description__Delete-big-sosulek">
                                                Самая частая причина возникновения сосулек - суточное колебание температур.
                                                Обычно
                                                от +5 днем, до -15 ночью. Жители Тюмени каждый год сталкиваются с этой
                                                проблемой.
                                                Если вовремя не убрать сосульки, они могут начать падать вниз, испортить
                                                имущество и
                                                травмировать людей. В первую очередь опасность угрожает детям.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="lottie-visible-player-desktop">
                                        <lottie-player src="images/sova.json"%}' background="transparent"
                                            speed="0.5" style="max-width: 100%; height: auto;" loop autoplay>
                                        </lottie-player>
                                    </div>
                                    <div class="lottie-visible-player-mobile">
                                        <img class="img-full-responsive" src="images/sova.svg"%}' alt="">
                                    </div>

                                    <form action="mail.php" method="post" class="form_two">


                                        <input id="phone15" type="text" class="form_two_input" name="teleph"
                                            placeholder="+7 (3452) 51-80-38" required>

                                        <button type="submit" class="button_call b_call_text">Перезвоним за 1
                                            минуту</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="Delete-sosylek" title="Удаление сосулек с крыш">
                            <div class="row">
                                <div class="col-12 col-md-7">
                                    <h4 class="header__delete-sosylek">Безопасное удаление сосулек любого размера</h4>
                                    <p class="pod-header__delete-sosylek">Оперативный выезд. Быстрое удаление сосулек под
                                        ключ, звоните даже ночью!</p>
                                    <form action="mail.php" method="post" class="form_five">


                                        <input id="phone19" type="text" class="form_five_input" name="teleph"
                                            placeholder="+7 (3452) 51-80-38" required>


                                        <button type="submit" class="btn__delete-sosylek2 btn__one-click2">Экстренный выезд</button>

                                    </form>

                                    <!-- <p class="pod-header-opacity__delete-sosylek">Если вы не будете довольны нашей работой -
                                        мы
                                        вернем вам ваши деньги</p> -->
                                </div>
                                <div class="col-12 col-md-5">
                                    <img class="img-column" src="images/silo.svg"%}' alt="">
                                </div>
                            </div>
                        </div>
                        <div id="Cleadn_snow" title="Очистка кровли от снега">

                            <h3 class="top_flex">Очистка кровли и Уборка снега с крыш</h3>
                            <p class="pod_top_flex">Работают альпинисты с допуском к работам на высоте. Фото и видео отчёты,
                                оперативная работа!</p>
                            <a href="#rline22" class="btn_zakaz_snega" data-lity="">
                                Заказать прямо сейчас
                            </a>

                        </div>



                    </div>
                </div>
            </section>
            <section class="best-brigada" id="brigada">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-12">
                            <h3 class="header__Arenda">Ноябрь 2020, лучшая бригада</h3>
                        </div>

                        <div class="col-md-6 col-lg-4" title="Данила, мастер по чистке снега">
                            <div class="column__Vivoz">
                                <div class="overlay-img3 clean_man-img1">

                                    <p class="name__Vivoz">Данила</p>
                                </div>


                                <p class="pod_vivoz">Убирает за час от 10 до 20 кубов</p>
                                <p class="pod_vivoz">Высокая продуктивность</p>


                                <form action="mail.php" method="post" class="form_four">


                                    <input id="phone8" type="text" class="form_four_input" name="teleph"
                                        placeholder="+7 (3452) 51-80-38" required>


                                    <button type="submit" class="button_call b_call_text2">Быстрый заказ</button>

                                </form>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4" title="Александр, альпинист со стальным характером">
                            <div class="column__Vivoz">
                                <div class="overlay-img3 clean_man-img2">

                                    <p class="name__Vivoz">Александр Котов</p>
                                </div>


                                <p class="pod_vivoz">Убирает за час от 10 до 20 кубов</p>
                                <p class="pod_vivoz">Стальной характер</p>


                                <form action="mail.php" method="post" class="form_four">


                                    <input id="phone9" type="text" class="form_four_input" name="teleph"
                                        placeholder="+7 (3452) 51-80-38" required>

                                    <button type="submit" class="button_call b_call_text2">Быстрый заказ</button>

                                </form>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4"
                            title="Станислав, альпинист, который справляется с любыми нагрузками">
                            <div class="column__Vivoz">
                                <div class="overlay-img3 clean_man-img3">

                                    <p class="name__Vivoz">Станислав</p>
                                </div>


                                <p class="pod_vivoz">Убирает за час от 10 до 20 кубов</p>
                                <p class="pod_vivoz">Повышенные нагрузки</p>



                                <form action="mail.php" method="post" class="form_four">


                                    <input id="phone10" type="text" class="form_four_input" name="teleph"
                                        placeholder="+7 (3452) 51-80-38" required>

                                    <button type="submit" class="button_call b_call_text2">Быстрый заказ</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="column-block">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-4" title="Очень быстрый выезд">
                            <div class="column__column-block">
                                <img class="img__column-block" src="images/call.svg" alt="">
                                <h5 class="h_snow_out">Выезд по звонку</h5>
                                <p class="pod_snow_out2">У вас экстренная ситуация? Просто позвоните, мы приедем через 30
                                    минут,
                                    очистим кровлю от снега и удалим сосульки!</p>
                                <a href="#rline22" class="btn_zakaz_outsnow" data-lity="">
                                    Заказать сейчас
                                </a>

                            </div>

                        </div>
                        <div class="col-12 col-md-4" title="Опытные промышленные альпинисты">
                            <div class="column__column-block">
                                <img class="img__column-block" src="images/climber.svg" alt="">
                                <h5 class="h_snow_out">Лучшие альпинисты</h5>
                                <p class="pod_snow_out2">Только промышленные альпинисты с допуском к работе на высоте. Страховка и соблюдение правил безопасности, оповещение пешеходов о проводящихся работах.</p>
                                <a href="#rline22" class="btn_zakaz_outsnow" data-lity="">
                                    Заказать сейчас
                                </a>

                            </div>

                        </div>
                        <div class="col-12 col-md-4" title="Заключаем договор. Работаем с НДС, без НДС">
                            <div class="column__column-block">
                                <img class="img__column-block" src="images/documents.svg" alt="">
                                <h5 class="h_snow_out">Работаем по договору</h5>
                                <p class="pod_snow_out2">Оплата как наличными, так и безналичным способом, с НДС и Без НДС.
                                    Предоставляем
                                    все отчетные документы</p>
                                <a href="#rline22" class="btn_zakaz_outsnow" data-lity="">
                                    Заказать сейчас
                                </a>

                            </div>

                        </div>

                    </div>
                </div>
            </section>

            <section class="block_deshevo" id="price">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5 order-sm-first block_center order-last block_center_margin center_block_flex2">



                            <div class="lottie-visible-player-desktop" title="Новогодние подарки!">
                                <lottie-player src="images/elka.json"  background="transparent" speed="0.5"
                                    style="max-width: 100%; height: auto;" loop autoplay>
                                </lottie-player>
                            </div>
                            <div class="lottie-visible-player-mobile">
                                <img class="img-full-responsive" src="images/elka.svg">
                            </div>

                        </div>
                        <div class="col-md-7 order-sm-last order-first center_block_flex2">
                            <h5 class="header__block_deshevo">Нашли дешевле ?</h5>
                            <p class="pod-header__block_deshevo">Скидка 6% от цены конкурента до 1 декабря</p>
                            <form action="mail.php" method="post" class="form_two margin__block_deshevo">


                                <input id="phone16" type="text" class="form_two_input" name="teleph"
                                    placeholder="+7 (3452) 51-80-38" required>

                                <button type="submit" class="button_call b_call_text">Перезвоним за 1 минуту</button>

                            </form>
                        </div>
                    </div>

                </div>

            </section>
            <div id="rline22" class="wrap_popup2 lity-hide">
                <div class="col-12 block__wrap-popup2">
                    <h4 class="inline_h4">Оставьте свой номер телефона, перезвоним почти сразу!</h4>
                    <form action="mail.php" method="post" class="form-group">
                        <input id="phone17" type="tel" class="input__wrap_popup2" name="teleph"
                            placeholder="+7 (3452) 51-80-38" required>
                        <br>
                        <button type="submit" class="button_submit_knopka">Отправить

                        </button>

                    </form>
                </div>

            </div>
            <!-- footer -->
            <footer class="footer_area" id="footer-contacts">
                <!-- РАЗРАБОТКА И ПРОДВИЖЕНИЕ САЙТА маркетинговое агентство https://panchenko.digital !-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="svyaz__footer_are">
                                <p class="call_us__footer_area">Свяжитесь с нами</p>
                                <span class="pod_call_us__footer_area">Работаем круглосуточно, без выходных</span>
                                <form action="mail.php" method="post" class="form_three marging__footer_area">


                                    <input id="phone18" type="text" class="form_five_input" name="teleph"
                                        placeholder="{% block footer_num_in_form %}+7 (3452) 51-80-38{% endblock%}" required>


                                    <button type="submit" class="btn_color button_call b_call_text">Заказать звонок</button>

                                </form>
                                <div class="center__footer_area">
                                    <a href="">
                                        <img class="img-responsive__block-call" src="images/soc-seti/viber.svg"
                                            alt="напишите нам в viber" title="напишите нам в viber"></a>
                                    <img class="img-responsive__block-call" src="images/soc-seti/whatsapp.svg" alt="">
                                    <a href=""><img class="img-responsive__block-call" src="images/soc-seti/telegram.svg" alt="напишите нам в телеграм" title="напишите нам в телеграм"></a>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-6 col-lg-5 mt-4">

                            <div class="row">
                                <div class="col-6 col-md-4 col-lg-4">
                                    <h6 class="widget_title">Каталог</h6>
                                    <ul class="link">

                                        <li><a href="{% url 'sand:sand' %}"><span style="color: #ffd700;">Песок</span></a></li>
                                        <li><a href="{% url 'rubble:rubble' %}"><span style="color: #ffd700;">Щебень</span></a></li>
                                        <li><a href="{% url 'brick_break:brick_break' %}"><span style="color: #ffd700;">Бой
                                                    Кирпича</span></a></li>
                                        <li><a href="{% url 'asphalt_crumb:asphalt_crumb' %}"><span style="color: #ffd700;">Асфальтная
                                                    крошка</span></a></li>
                                        <li><a href="{% url 'ground:ground' %}"><span style="color: #ffd700;">Грунт</span></a></li>
                                        <li><a href="{% url 'expanded_clay:expanded_clay' %}"><span style="color: #ffd700;">Керамзит</span></a>
                                        </li>



                                    </ul>
                                </div>
                                <div class="col-6 col-md-4 col-lg-4">
                                    <h6 class="widget_title">Услуги</h6>
                                    <ul class="link">

                                        <li><a href="{% url 'equipment_rental:equipment_rental' %}"><span style="color: #ffd700;">Аренда
                                                    спецтехники</span></a></li>
                                        <li><a href="{% url 'garbage_removal:garbage_removal' %}"><span style="color: #ffd700;">Вывоз
                                                    строймусора</span></a></li>
                                        <li><a href="{% url 'snow_removal:snow_removal' %}"><span style="color: #ffd700;">Уборка
                                                    снега</span></a></li>
                                        <li><a href="{% url 'build_metall_stuctures:build_metall_stuctures' %}"><span style="color: #ffd700;">Чистка
                                                    крыш от наледи</span></a></li>
                                        <li><a href="{% url 'cut_trees:cut_trees' %}"><span style="color: #ffd700;">Спил
                                                    деревьев</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-4 col-lg-4">
                                    <h6 class="widget_title">Инфо</h6>
                                    <ul class="link">

                                        <li><a href="{% url 'about_company:home' %}"><span style="color: #ffd700;">О Компании</span></a></li>
                                        <li><a href="#stranica-v-razrabotke">Доставка и оплата</a></li>
                                        <li><a href="#stranica-v-razrabotke">Вакансии</a></li>
                                        <li><a href="{% url 'partners:partners' %}"><span style="color: #ffd700;">Приглашаем
                                                    водителей</span></a></li>

                                    </ul>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-3">
                            <p class="question__footer_area">Для быстрой связи</p>

                            <div class="number__question">
                                <span class="our_telephone__footer_area">Наш телефон</span>
                                {% block tel_number_footer %}
                                    <a href="tel:+73452585410" class="number_footer">
                                        <span>+7 (3452) 51-80-38</span>
                                    </a>
                                {% endblock %}
                            </div>
                            <div class="adres__question">

                                <span class="our_telephone__footer_area">Тюмень</span>
                            </div><br>

                            <div class="email__question">

                                <span class="our_telephone__footer_area">E-mail</span>
                                {% block email_footer%}
                                <a href="mailto:info@ueduedu.ru" class="number_footer">
                                    <span>info@ueduedu.ru</span>
                                </a>
                                {% endblock %}
                            </div>

                        </div>
                    </div>
                    <div class="row block-down__block-call">
                        <div class="col-12 col-md-4">
                            <p class="text__block-call">
                                Разработка и продвижение: <a href="https://panchenko.digital">Panchenko.digital</a>
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p class="text__block-call">
                                Официальный сайт ueduedu.ru
                                2005-2022 - вывозим там, где другие не вывозят!
                            </p>

                        </div>
                        <div class="col-12 col-md-4">
                            <a href="../agreement/index.php" class="text__block-call">
                                Политика конфиденциальности
                            </a>

                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end div content-->
    </div>
    <!-- end div page-->

<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/lity.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/utm.js"></script>
<script src="js/lottie-player.js"></script>
<script src="js/mmenu-light.js"></script>
<script>
    document.addEventListener(
        "DOMContentLoaded", () => {
            const menu = new MmenuLight(
                document.querySelector("#menu")
            );

            const navigator = menu.navigation({
                selectedClass: 'Selected',
                title: '',
                // slidingSubmenus: true,
                theme: 'dark'
            });
            const drawer = menu.offcanvas({
                position: 'left'
            });

            document.querySelector('a[href="#menu"]')
                .addEventListener('click', (evnt) => {
                    evnt.preventDefault();
                    drawer.open();
                });
        }
    );
</script>


<script>
    $(function () {
        $("#phone1").mask("+7 (999) 999-99-99");
        $("#phone2").mask("+7 (999) 999-99-99");
        $("#phone3").mask("+7 (999) 999-99-99");
        $("#phone4").mask("+7 (999) 999-99-99");
        $("#phone5").mask("+7 (999) 999-99-99");
        $("#phone6").mask("+7 (999) 999-99-99");
        $("#phone7").mask("+7 (999) 999-99-99");
        $("#phone8").mask("+7 (999) 999-99-99");
        $("#phone9").mask("+7 (999) 999-99-99");
        $("#phone10").mask("+7 (999) 999-99-99");
        $("#phone11").mask("+7 (999) 999-99-99");
        $("#phone12").mask("+7 (999) 999-99-99");
        $("#phone13").mask("+7 (999) 999-99-99");
        $("#phone14").mask("+7 (999) 999-99-99");
        $("#phone15").mask("+7 (999) 999-99-99");
        $("#phone16").mask("+7 (999) 999-99-99");
        $("#phone17").mask("+7 (999) 999-99-99");
    });
</script>
<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "flex";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
<!-- menu mobile -->
</body>



</html>